/* tablets*/

@media (max-width: 900px) {
    /* geral */
    body {
        margin-bottom: 150px;
    }
    .container {
        max-width: 100vw;
    }
    .footer .container {
        flex-direction: column;
    }
    /* page home */
    #home .container-page {
        flex-direction: column-reverse;
        align-items: center;
    }
    #home .img-loja {
        margin-top: 40px;
        /* max-width: 220px; */
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #home .content {
        text-align: center;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 24px;
    }
    /* page agendar */
    #agendar form {
        padding: 30px;
    }
}


/* smartphone */

@media (max-width: 767px) {
    .hide {
        display: none;
    }
    #toggle-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
    }
    #responsive-menu {
        transition: all 0.3s;
    }
    header .container {
        display: flex;
        flex-direction: column;
    }
    header .responsive {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    header .menu {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        left: 0;
        top: 100px;
        height: 50vh;
        background-color: var(--background-color);
        width: 100%;
    }
    /* page home */
    #home .img-loja {
        margin-top: 40px;
        /* max-width: 220px; */
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #home .content {
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 24px;
    }
    /* page agendar */
    #agendar form {
        padding: 30px;
    }
}