@{
    ViewData["Title"] = "Home";
    ViewData["PageId"] = "home";

}

@section Styles{
    <link rel="stylesheet" href="~/css/home.css" />
}

<div class="container-page">
    <div class="img-loja">
        <img src="/images/loja.svg" alt="PetVet">
    </div>
    <div class="content">
        <h4>Sobre nós</h4>
        <h1>PetVet</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi voluptatibus, animi, architecto ullam asperiores vel amet labore omnis iure a, quaerat molestiae ipsum. Aliquam maxime veniam omnis fugiat at cum?</p>
    </div>
    
</div>
